body {

    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(153, 29, 29), black);
    margin: 0;
    height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}


/* Users */
#title,
#title-admin {
    margin-top: -10%;
}

#title-not {
    color: red;

}

#title-flix {
    color: white;

}

#title-two {
    color: white;

}

#title-two,
#title-section,
#edit {

    font-size: 50px;
    margin-top: 0%;
    color: white
}

.content:hover {
    transform: scale(1.1);
}

#usuarios {

    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: transform 0.5s ease, border-color 0.5s ease;

}

#usuarios img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;

}

#usuarios img:hover {
    transform: scale(1.1);
}

#usuarios a {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

}

#usuarios span {
    color: white;
    margin-top: 10px;
}

#admin a,
#back a {
    margin-top: 100px;
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
    appearance: button;
    text-decoration: none;
}

/* ----------------------------- */

#title-section {
    margin-top: 187px;
}

/* ----------------------------- */

#edit {
    color: white;
}

#Icons img,
#logo-user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 1;
}

#Avengers {
    color: white;

}

#Dc {
    color: white;

}

/* ----------------------------- */

#title-edit {
    font-size: 50px;
    margin-top: 0%;
    color: white
}

#form {
    margin: 5% auto 10%;

}

#form label {
    color: white;
    display: block;

}